li {
    text-align: left;
  }
  
  .todos {
    display: flex;
    flex-flow: column nowrap;
  }

  .error {
    color: red;
    font-size: 0.8rem;
  }

  
  .todo     {
    display: flex;
  }
  
  .todo span.done {
    text-decoration: line-through;
  }
