<p>todolist works!</p>

<form (ngSubmit)="onSubmit(todo)">
  <label for="todo.desc">Todo : </label>
  <input
    type="text"
    id="todo.desc"
    name="todo.desc"
    [(ngModel)]="todo.desc"
    required
  />
  <button type="submit">Ajouter</button>
</form>

<ul class="todos">
  <li class="todo" *ngFor="let todo of todos; index as i">
    <span [class.done]="todo.done">Tache {{ i + 1 }} : {{ todo.desc }} </span>
    <input type="checkbox" (click)="isDone(todo)" />
    <button (click)="todo.updating = !todo.updating">
      {{ todo.updating ? "Enregistrer" : "Modifier" }}
    </button>
    <div *ngIf="todo.updating">
      <input type="text" name="todo" [(ngModel)]="todo.desc" />
    </div>
      <button type="submit" (click)="onDelete(todo)">Supprimer</button>
  </li>
</ul>
