
.todos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: 2px solid;
}

.card {
    margin: 1rem auto;
    padding: 1rem;
    border: 2px solid;
}
